{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Messages Section -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% if page == 'login' %}
            <!-- Login Form -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter password" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <p>havent signed up yet</p>
                    <a href="{% url 'registerpage' %}" class="btn btn-primary">Register</a>
                </div>
            </div>
            {% else %}
            <!-- Register Form -->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        
                        <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                    <p>already signed up?</p>
                    <a href="{% url 'loginpage' %}" class="btn btn-primary">Login</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}